[Unit]
Description=Todo - App
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/todo-app

[Install]
WantedBy=multi-user.target